@import './variables';

// :root {
//     --background: #ffffff;
//     --foreground: #171717;
// }

// @media (prefers-color-scheme: dark) {
//     :root {
//         --background: #0a0a0a;
//         --foreground: #ededed;
//     }
// }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    min-height: 100svh;
}

body {
    font-family: $font-family;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: $link-primary;
    text-decoration: none;
    transition: color 0.2s;

    &:hover {
        color: $link-hover;
    }

    /* &.primary {
        color: $link-primary;
    } */

    /* &.secondary {
        color: $link-secondary;
    } */
}

// @media (prefers-color-scheme: dark) {
//     html {
//         color-scheme: dark;
//     }
// }
