@import './../../../styles/variables';

.title {
    text-align: center;
}

.content {
    align-content: center;
    justify-content: center;
    display: grid;
    row-gap: 1em;

    p {
        font-size: 1.5em;

        a {
            font-weight: bold;
        }
    }
}
