@import './../styles/variables.scss';

.page {
    display: grid;
    grid-template-rows: minmax(80px, auto) 1fr 50px;
    min-height: 100svh;
    background: $background-color url('/images/background.jpg') center 100% /
        cover fixed;

    padding: 0 10%;
}

.error,
.loading {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main {
    display: flex;
    flex-direction: column;
}

.content {
    padding: 1em;
    background-color: transparentize($background-color, 0.5);
    flex-grow: 1;
}

// /* Enable hover only on non-touch devices */
// @media (hover: hover) and (pointer: fine) {
//     a.primary:hover {
//         // background: var(--button-primary-hover);
//         border-color: transparent;
//     }

//     a.secondary:hover {
//         // background: var(--button-secondary-hover);
//         border-color: transparent;
//     }

//     .footer a:hover {
//         text-decoration: underline;
//         text-underline-offset: 4px;
//     }
// }

// /* @media (prefers-color-scheme: dark) {
//     .logo {
//         filter: invert();
//     }
// } */
