@import './../../styles/variables';

.header {
    min-height: 80px;
    background-color: $component-background-color;
    border-radius: 80px 0 0 0;
    display: flex;
    align-items: center;
    column-gap: 1em;
    padding: 0 5em;
    flex-wrap: wrap;

    a {
        color: $misty-blue;
    }
}
