@import './../../styles/variables';

.footer {
    // text-align: center;
    border-radius: 0 0 80px 0;
    background-color: $component-background-color;
    display: flex;
    justify-content: center;
    align-items: center;
}
